
  /*App*/

.App {
  font-family: 'Lato', sans-serif;
  display: block;

}
.header{
  width: 100%;
  margin: 20px;
}
.App-header {
  margin: auto;
  padding: 20px;
  text-align: center; 
  width: 20%;
  height: auto;
  color: white;
  display: block;
}


/*Navigation*/
.nav-bar{
  text-align: center;
  margin: 0;
  padding: 0;
}
.nav-container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline-block;
}

li.nav-list {
  float: left;
}

li.nav-list a {
  color: grey;
  display: block;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li.nav-list :hover {
  background-color: lightslategrey;
  color: white;
  
}




/*Bio*/

.bio{
  width: 100%;
  background-color: blue;
  display: flex;
  flex-wrap: wrap;
  height: auto;
}
.photo-container{
  width: 40%;
  font-size: 20px;
  margin: 0 0 0 0;
  padding: 0;
  text-align: center;  
  background-color: lightblue;
}
.miranda-photo{
width: 50%;
border-radius: 60%;
margin: 10px;
}

.bio-container{
  width: 60%;
  font-size: 20px;
  margin: 0 0 0 0;
  padding: 0;
  text-align: center;
  background-color: lightpink;
  
}

/*Contact*/
.contact{
  width: 100%;
  display: block;
  background-color: lightyellow;
}
ul.contact-info{
   list-style: none;
  font-size: 25px;
  padding: 20px 20px;
  text-align: center;
}

/*~~~~~~~~~~~~Projects*~~~~~~~~~~~~*/
.container {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.project {
  width: 100%;
  text-align: center;
  background-color: lightslategrey;
  color: #fff;
  margin: 10px;
  border-radius: 5px;
  padding: 20px;
  font-size: 100%;
}



/*~~~~~Media Query for Phone/Tablet~~~~~*/
@media only screen and (max-width : 873px){
 
 
  /*Header*/
  .App-header{
    width: 40%;
  }

  /*Nav*/
  .nav-bar{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    float: left;
  }
  .nav-container{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}
li.nav-list {
  width: 100%;
  font-size: 80%;
}
li.nav-list a {
  display: block;
  color: gray;
  padding: 8px 16px;
  text-decoration: none;
}

  /*Bio*/
  .bio{
    width: 70%;
    float: right;
    height: 100%;
  }
  .bio-container{
    width: 100%;
  }
  .photo-container{
    width: 100%;
  }

  /*Contact*/
  ul.contact-info{
    font-size: 15px;
  }
}


